/*--------------------------------------------------
GLOBAL
---------------------------------------------------*/
/* Auteur : Arthur Jenck
Date : 01/02/2023
Version : 0.2
Site de l'auteur : https://arthurjenck.com */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
/* font-family: 'Sora', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800;1,900&display=swap");
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fefbf8;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  background: fixed url("../img/ressources/assets/background/matte-black.jpg");
  background-size: cover;
}

img {
  height: 5rem;
}

.linebreak {
  display: block;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;
}

nav {
  position: absolute;
  top: 1rem;
  width: 90vw;
  display: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
}
.nav-list .nav-link {
  font: 800 1rem "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

.nav-list-logo {
  display: none;
}

.nav-logo {
  height: 5rem;
}

h1 {
  font: 800 5em "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 24px;
  text-transform: uppercase;
  margin: 2rem 0;
  position: relative;
}
h1::before {
  content: "";
  display: inline;
  height: 8rem;
  width: 6.25rem;
  background-size: contain;
  background-image: url("../img/ressources/assets/logo/white-logo.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 8rem;
}

.hero-subtitle {
  font: 800 1rem "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  animation: typing 3s steps(69, end), blink-caret 1s step-end infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: solid #fefbf8 0.15em;
  margin: 0;
  padding: 0;
  letter-spacing: 0.15em;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #fefbf8;
  }
}
section {
  scroll-snap-align: start;
}

.projects {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.projects .projects-list {
  position: relative;
}
.projects .projects-list:hover .projects-link {
  color: rgba(0, 0, 0, 0.1333333333);
}
.projects .projects-list .projects-list-element {
  list-style: none;
  text-align: center;
}
.projects .projects-list .projects-list-element:hover .projects-link {
  color: #000;
  background: transparent;
}
.projects .projects-list .projects-list-element .projects-link {
  padding: 0.3rem 1.2rem;
  display: inline-flex;
  transition: 0.2s all ease-out;
  text-decoration: none;
  font: 700 3rem "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}
.projects .projects-list .projects-list-element .projects-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 31.25rem;
  transition: letter-spacing 0.5s, left 0.5s;
  white-space: nowrap;
}
.projects .projects-list .projects-list-element .projects-link:hover::before {
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 200vw;
  height: 200vh;
}
.projects .projects-list .projects-list-element:nth-child(6n+1) .projects-link::before {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}
.projects .projects-list .projects-list-element:nth-child(6n+2) .projects-link::before {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.projects .projects-list .projects-list-element:nth-child(6n+3) .projects-link::before {
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}
.projects .projects-list .projects-list-element:nth-child(6n+4) .projects-link::before {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.projects .projects-list .projects-list-element:nth-child(6n+5) .projects-link::before {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #8fd3f4 100%);
}
.projects .projects-list .projects-list-element:nth-child(6n+5) .projects-link::before {
  background-color: #fff;
  background-image: linear-gradient(180deg, #fff 0%, #6284ff 50% #ff0000 100%);
}

.about {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fefbf8;
}
.about p,
.about h2,
.about h3,
.about a {
  color: #000;
}
.about .about-perso-container .about-pic {
  float: left;
  box-sizing: content-box;
  padding: 2rem;
  background: url("../img/ressources/assets/background/lone-blue.jpg") fixed;
  border-radius: 50%;
  position: relative;
  top: -10px;
  background-size: 100vw 100vh;
  background-position: center;
}/*# sourceMappingURL=style.css.map */