@use "../styles/variables/colors";

#about {
    overflow-y: visible;
    position: relative;
    h2 {
        position: absolute;
        top: 12vh;
    }
    .about-top {
        display: flex;
        justify-content: center;
        padding: 30vh 13vw 1vh 13vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        overflow-x: clip;
        max-height: 0;
        transition: max-height 0.2s ease-out;
        &::before {
            overflow-x: clip;
            content: "";
            position: absolute;
            top: 0;
            border-radius: 100% 100% 0 0;
            width: clamp(800px, 120vw, 120vw);
            height: 140vh;
            overflow-y: visible;
            background-color: colors.$main;
            z-index: -1;
        }
    }
}
