nav {
    position: fixed;
    z-index: 5;
    top: 2rem;
    left: 4vw;
    right: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-link img {
        height: 11.5svh;
        transition: opacity 0.2s;
    }

    @media screen and (max-width: 1024px) {
        height: 4rem;
    }
}
